<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spacex</title>
</head>
<body>
  <header>
    <nav>
      <a href="/spaceX/src/views/gabriel.html">
        <img src="/spaceX/public/imagens/logo.png" alt="">
      </a>

      <a href="/spaceX/src/views/spaceships.html">
       The Spaceships
      </a>
      <a href="/spaceX/src/views/hire.html">
        Hire us</a>
    </nav>
  </header>
  <section>
    <section>
      <h1>Spece Exploration Techonologies corp. </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores earum voluptate autem praesentium fugiat numquam laudantium. In dignissimos ducimus nisi a reprehenderit natus unde voluptatibus, maxime nam accusamus sed voluptatem?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, quae hic, rerum numquam eius expedita nulla est assumenda, dolorum cum esse possimus repudiandae quaerat? Veritatis rerum reprehenderit corporis modi omnis.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, excepturi enim laudantium magni asperiores iusto dolorum, libero amet ducimus nobis alias dolor assumenda atque. Perferendis accusantium similique ipsa doloribus qui.</p>
    </section>
    <section>
      <h1>Our Service</h1>
      <ul>
        <li>Nam quis nulla. malesuada</li>
        <li>in emim a arcu imperdiet malesuada</li>
        <li>Aenean id matus id velit ullamcorper pulvinar</li>
        <li>Sed vel lectus.Donec odio urna</li>
      </ul>
    </section>
    <section><h1>Price</h1>
      <table border="1">
        <thead>
          <tr>
          <th>Service</th>
          <th>Value</th>
          </tr>
        </thead>
          <tbody>
          <tr>
            <td>Nam quis nulla. integer malesuada</td>
            <td>€450</td>
          </tr>
          <tr>
            <td>Nam quis nulla. integer malesuada</td>
            <td>€450</td>
          </tr>
          <tr>
            <td>Nam quis nulla. integer malesuada</td>
            <td>€450</td>
          </tr>
          <tr>
            <td>Nam quis nulla. integer malesuada</td>
            <td>€450</td>
          </tr>
          </tbody>
      </table>
    </section>
  </section>
</body>
</html>