<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hire</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/spaceX/src/views/gabriel.html">
          <img src="/spaceX/public/imagens/logo.png" alt="" />
        </a>
        <a href="/spaceX/src/views/spaceships.html"> The Spaceships </a>
        <a href="/spaceX/src/views/hire.html"> Hire us </a>
      </nav>
      <hr />
    </header>

    <section>
      <h1>Hire us now</h1>
      <p>spaceshipX</p>
    </section>
    
    <section>
      <br />
      <form>
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name=" name="name" />
          <label for="email">email:</label>
          <input type="text" id="email" name="email" />
        </div>
        <br /><br />
        <div>
          <label for="spaceship">spaceship:</label>
          <select name="spaceship" id="spaceship">
            <option value="falcon_9">falcon_9</option>
            <option value="falcon_heavy">falcon_heavy</option>
          </select>
          <label for="sevice">Service:</label>
          <input type="search" name="service" id="service" list="service" />
          <datalist id="services">
            <option value="1 Nam quis nulla. integer malesuada"></option>
            <option value="2 Nam quis nulla. integer malesuada"></option>
            <option value="3 Nam quis nulla. integer malesuada"></option>
            <option value="4 Nam quis nulla. integer malesuada"></option>
          </datalist>
        </div>
        <br /><br />
        <div>
          <input type="submit" name="" value="send Message" />
        </div>
      </form>
    </section>
  </body>
</html>
