<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spaceships</title>
</head>
<body>
    <header>
        <nav>
          <a href="/spaceX/src/views/gabriel.html">
            <img src="/spaceX/public/imagens/logo.png" alt="">
          </a>
          <a href="/spaceX/src/views/spaceships.html">
           The Spaceships
          </a>
          <a href="/spaceX/src/views/hire.html">
            Hire us
        </a>
        </nav>
        <hr>
      </header>
      <section>
        <h1>
            Avaibale Spaceships
        </h1>
      </section>
      <br>
      <section>
        <section>
            <h3>Falcon 9</h3>
            <img src="/public/imagens/falcon_9.jpg" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam velit beatae deleniti dolores, rerum molestias vitae veritatis ducimus voluptatum, hic veniam nulla in? Iusto, eveniet vel. Accusantium vitae ex qui?</p>
            <hr>
        </section>
        <section>
            <h3>Falcon Heave</h3>
            <img src="/public/imagens/falcon_heavy.jpg" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numq
        </section>
      </section>

</body>
</html>